.lesson-chat-container {
    width: 65%;
    max-width: 800px;
    height: 600px;
    margin: 30px;
    background-color: white;
    border-radius: 35px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.progress-container {
    position: relative;
    display: flex;
    align-items: center;
    height: 5px;
    width: 100%;
    margin-bottom: 10px;
}

.progress-bar {
    height: 100%;
    background-color: #5853ff; /* Blue bar */
    transition: width 0.3s ease;
    border-radius: 5px;
}

.progress-percent {
    margin-left: 5px; /* Adds space between the bar and percentage */
    font-size: 14px;
    font-family: 'InterMedium', sans-serif;
    color: #333;
    position: relative;
    left: 5px; /* Moves the percentage number to the right of the bar */
    white-space: nowrap;
}

.lesson-chat-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message {
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 70%;
    line-height: 1.4;
    display: flex;
}

.message-logo {
    width: 18px; /* Adjust the size of the logo as needed */
    height: 20px;
    margin-right: 10px; /* Adds space between the logo and the text */
}

.message.left {
    background-color: #f9f9f9;
    align-self: flex-start;
}

.message.right {
    color: black;
    align-self: flex-end;
}

.lesson-chat-input {
    padding: 15px;
    display: flex;
}

.lesson-chat-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 16px;
    background-color: #f6f6f6;
    font-family: "InterMedium";
}
